body{
    margin: 0;
    font-family: Ubuntu;
    color: rgba(50,50,50);
}
/*----- BARRE DE NAVIGATION -----*/
nav{
    display: flex;
    align-items: center;
    justify-content: flex-end ;
    height: 15vh;
    background-color: black;
}
nav img{
    position: absolute;
    left: 2%;
    height: 6vh;
}
nav ul{
    margin-right: 7%;
    color: white;
    list-style: none;
    display:flex;
    justify-content: flex-end;
    text-transform: uppercase;
}
nav ul li{
    display: flex;
    justify-content: center;
    position: relative;
    width: min-content;
    font-size:xx-small;
    margin: 5%;
    top:5vh;
}
nav ul li::before{    
    content: "";
    position: absolute;
    top: -8vh;
    background-size: 8vh 8vh;
    width:8vh; 
    height: 8vh;
}
nav ul li:first-of-type::before{
    background-image:url("../img/home-icon.png");
}
nav ul li:nth-of-type(2)::before{
    background-image:url("../img/packages-icon.png");
}
nav ul li:nth-of-type(3)::before{
    background-image:url("../img/outils-icon.png");
}
nav ul li:nth-of-type(4)::before{
    background-image:url("../img/projets-icon.png");
}
nav ul li:nth-of-type(5)::before{
    background-image:url("../img/temoignages-icon.png");
}
nav ul li:last-of-type::before{
    background-image:url("../img/contact-icon.png");
}

/*------ BANNIERE PAGE PACK ------*/
#HeaderPack{
    display: flex;
    justify-content: center;
    color: white;
    height: 20vh;
    padding: 5%;
    background-color: #344D5C;
}
#HeaderPack div{
    margin-left: 15%;
}

/*----- SECTION  DIV1 COMMUNE -----*/
#PackEclosion, #PackEvolution, #PackEnvol{
    display: flex;
    padding: 3% 8%;
    height: 40vh;
}
#PackEclosion img, #PackEvolution img, #PackEnvol img{
    position: relative;
    height: 25vh;
    top:40%;
}
#PackEclosion h2, #PackEvolution h2, #PackEnvol h2{
    margin-left: 10%;
    font-size: xx-large;
    font-weight: lighter;
    color: white;
    width: min-content;
    padding: 2% 8%;
    background-color: #344D5C;
}
#PackEclosion p, #PackEvolution p, #PackEnvol p{
    margin-left: 20%;
    font-size:small;
}

/* Bottom Section Eclosion */
#PackEclosionBottom{
    height: 22vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: small;
    background-color: #EAE3D6;
}
#PackEclosionBottom>div{
    width:20%;
    display: flex;
    justify-content: center;
}
#PackEclosionBottom>div>div{
    text-align: center;
}
#PackEclosionBottom img{
    height:10vh;
}

/*---- SECTION BOTTOM FORMATAGE ----*/
#PackEvolutionBottom, #PackEnvolBottom{
    height: 15vh;
    padding: 4% ;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: small;
    background-color: #EAE3D6;
}
#PackEvolutionBottom p, #PackEvolutionLast p, #PackEnvolBottom p{
    display: flex;
    justify-content: center;
    align-items: flex-end;
} 
#PackEvolutionBottom p::before, #PackEvolutionLast p::before, #PackEnvolBottom p::before{
    position: relative;
    top:-5vh;
    left:50%;
    content: "";
    background-size: 10vh 10vh;
    width:10vh; 
    height:10vh;
}


/*--- SECTION EVOLUTION BOTTOM ITEMS ---*/

#PackEvolutionBottom p:first-of-type::before{
    background-image:url("../img/Logo-logo.png");
}
#PackEvolutionBottom p:nth-of-type(2)::before{
    background-image:url("../img/icon-charte-graphic.png");
}
#PackEvolutionBottom p:nth-of-type(3)::before{
    background-image:url("../img/site-vitrine.png");
}
#PackEvolutionBottom p:last-of-type::before{
    background-image:url("../img/reseaux-sociaux.png");
}
#PackEvolutionLast{
    display: flex;
    justify-content: center;
    height: 10vh;
    font-size: small;
    text-align: center;
    background-color: #EAE3D6;
}
#PackEvolutionLast p::before{
    background-image:url("../img/carte-visite.png");
}

/*--- SECTION ENVOL BOTTOM ITEMS ---*/
#PackEnvolBottom p:first-of-type::before{
    background-image:url("../img/icon-analyse-flux-web.png");
}
#PackEnvolBottom p:nth-of-type(2)::before{
    background-image:url("../img/icon-campagne-facebook.png");
}
#PackEnvolBottom p:nth-of-type(3)::before{
    background-image:url("../img/icon-campagne-adwords.png");
}
#PackEnvolBottom p:last-of-type::before{
    background-image:url("../img/icon-campagne-e-mailing.png");
}

/*-------------- FOOTER --------------*/
footer{
    padding-top: 5vh;
    height: 25vh;
    color: white;
    font-size: bold;
    background-color: rgba(50,50,50);
}
footer>div{
    margin-left: 8%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
footer img{
    height: 8vh;
    margin: 2%;
}
#FooterPacks{
    flex:3;
}
#FooterOutils{
    flex:3;
}
#FooterSocialMedia{
    flex:2;
}
footer>p:last-of-type{
    font-size: x-small;
    margin-left:95%;
}